body {
	background-color: white;
	text-transform: uppercase;
	font-family: montserrat;
}
#box {
	color: : white;
	width: :250px;
	text-align: center;
	padding: 20px;
	background-color: rgb(128,23,14);
}

h1{
	color: white;
	font-size: 100px;
	border: 3000px;

}

h3{
	color: white;
	font-size: 75px;
	
}
#box2{
	border: 5px white double;
	
	width: 1250px;
	margin: 10px auto;
}















